doctype html
html
  head
    title Genetic Constructor
    script.
        // global variables inserted by templating on server
        var flashedUser = {
            email           : "#{email}",
            userid          : "#{uuid}",
            firstName       : "#{firstName}",
            lastName        : "#{lastName}",
        };
        
        var discourseDomain = "#{discourseDomain}";
        var productionEnvironment = #{productionEnvironment}
        
    -if (productionEnvironment)
      script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-63638898-3', 'auto');
          ga('send', 'pageview');
        
  body

    #root
    //- any html/svg templates you want included verbatim
    div(style="display: none;visibility: hidden;margin-left: -10000px;")
      include ../images/roleSymbols/templates/cds.svg
      include ../images/roleSymbols/templates/insulator.svg
      include ../images/roleSymbols/templates/operator.svg
      include ../images/roleSymbols/templates/originReplication.svg
      include ../images/roleSymbols/templates/promoter.svg
      include ../images/roleSymbols/templates/protease.svg
      include ../images/roleSymbols/templates/proteinStability.svg
      include ../images/roleSymbols/templates/rbs.svg
      include ../images/roleSymbols/templates/ribonuclease.svg
      include ../images/roleSymbols/templates/rnaStability.svg
      include ../images/roleSymbols/templates/terminator.svg
      include ../images/roleSymbols/templates/structural.svg
      include ../images/roleSymbols/templates/restrictionSite.svg
      include ../images/roleSymbols/templates/noSymbol.svg
      include ../images/ui/disclosure_triangle_closed.svg
      include ../images/ui/lock.svg

    //served by webpack proxy in dev, built in bundle
    script(src='/static/client.js')
